:root {
  --main-color: #116193;
  --secondary-color: #00e8e4;
  --not-white: #f2f2f2;
  --white: #ffffff;
  --gray: #555555;
  --light-gray: #ebebeb;
}

@import url("https://fonts.googleapis.com/css2?family=Abel&family=Lato:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  background-color: var(--white);
  color: var(--gray);
  font-family: "Lato", sans-serif;
}

a {
  font-size: 16px;
  background-color: var(--white);
  color: var(--gray);
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
